{% load bootstrap3 %}

<li>
	<div class="comment">
		{% if comment.userinfo.avatar %}
			<p class="author"><img src="{{ comment.userinfo.avatar.url }}" style="max-width:30px;" > <a href="{% url 'user' pk=comment.author.id %}">{{ comment.author }}</a></p>
		{% else %}
			<p class="author"><img src="/media/default.png" style="max-width:30px;" > <a href="{% url 'user' pk=comment.author.id %}">{{ comment.author }}</a></p>
		{% endif %}
		<p class="content">{{comment.content}} - {{comment.created}}</p>
	{% if isuser %}
		<form action="" method="post" class="form-comment">
			{% csrf_token %}
			{% bootstrap_form form show_label=False %}
			<input id="parrentComment" name="parrentComment" type="hidden" value="{{ comment.id }}">
			<input type="submit" class="btn btn-primary" value="Comment" />
		</form>
	{% endif %}
	</div>
	{% if comment.commentmodel_set.all.count > 0 %}
		<ul>
		{% for com in comment.commentmodel_set.all %}
			{% with comment=com template_name="forum/tools/comment_recursion.html" %}
				{% include template_name %}
			{% endwith %}
		{% endfor %}
		</ul>
	{% endif %}
</li>