.DS_Store
__pycache__
*.pyc

*out*
*test*

file.html

local_lib
*.log
temp

numbers.txt
periodic_table.txt
periodic_table.html

style.css

popup.js
file1.js
file2.js
file3.js
file4.js

db.sqlite3

django_venv

bin
lib
include
pyvenv.cfg
*.wiki