{% extends "base.html" %}

{% block title %}
<title>
	{{title}}
</title>
{% endblock title %}

{% block content %}
<h1>
	Load
</h1>
<ul>
	{% for i, j, k in slots %}
		<li>
			<p>
				{% if forloop.counter0 == slotpos and slotpos == loaded_slot%}
					Start Game:
				{% elif forloop.counter0 == slotpos %} 
					Selected:
				{% endif %}
				Slot {{ i }}
				{% if j == 0 and k == 0 %}
					Free
				{% else %}
					{{ j }} / {{ k }}
				{% endif %}
			</p>
		</li>
	{% endfor %}
</ul>
<p>
	A: Load
</p>
<p>
	B: Cancel
</p>
{% endblock content %}