{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Forums{% endblock %}

{% block h1 %}Forums - List of topics{% endblock %}

{% block content %}
	<table style="width: 100%;">
		{% for members in object_list %}
			<tr>
				<th style="width: 75%; text-align: left">
					<a href="/forum/{{ members.id }}">{{ members.title }}</a>
					{% if members.userinfo.avatar %}
						By: <img src="{{  members.userinfo.avatar.url }}" style="max-width:30px;" > <a href="{% url 'user' pk=members.author.id %}">{{ members.author }}</a>
					{% else %}
						By: <img src="/media/default.png" style="max-width:30px;" > <a href="{% url 'user' pk=members.author.id %}">{{ members.author }}</a>
					{% endif %}
				</th>
				<td style="width:1%"></td>
				<th>
					{{ members.created }}
				</th>
				<th>
					{{ members.created|timesince }} ago
				</th>
			</tr>
			<tr>
				<td style="width: 75%; text-align: left">
					{{ members.content|truncatechars:300 }}
				</td>
			</tr>
			<tr>
				<td>
					<br>
				</td>
			</tr>
			{% if members.commentmodel_set.all.count > 0 %}
				<tr>
					<th style="text-align: left">
						Comments
					</th>
				</tr>
			{% else %}
				<tr>
					<th style="text-align: left">
						This post has no comments
					</th>
				</tr>
			{% endif %}
			{% for comment in members.commentmodel_set.all|slice:":4" %}
				<tr>
					<th style="width: 75%; text-align: left">
						{% if comment.userinfo.avatar %}
							<p class="author"><img src="{{ comment.userinfo.avatar.url }}" style="max-width:30px;" > <a href="{% url 'user' pk=comment.author.id %}">{{ comment.author }}</a></p>
						{% else %}
							<p class="author"><img src="/media/default.png" style="max-width:30px;" > <a href="{% url 'user' pk=comment.author.id %}">{{ comment.author }}</a></p>
						{% endif %}
					</th>
					<td style="width:1%"></td>
					<th>
						{{ members.created }}
					</th>
					<th>
						{{ members.created|timesince }} ago
					</th>
				</tr>
				<tr>
					<td style="width: 75%; text-align: left">
						{{ comment.content }}
					</td>
				</tr>
			{% endfor %}
			<tr>
				<td>
					<br />
					<br />
				</td>
			</tr>
		{% endfor %}
	</table>
	{% bootstrap_pagination object_list %}
    <p><a href="{% url 'publish' %}">Post a new topic</a></p>
{% endblock content %}